@import '../../node_modules/bootstrap/scss/functions.scss';
@import '../../node_modules/bootstrap/scss/variables.scss';

$primary: #5780C1;
$danger: #C0392B;

$theme-colors: map-merge($theme-colors, (
    "primary": $primary,
    "danger": $danger,
) );

@import 'bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons.scss";

#plugins {
    width: 60px;
    right: 25px;
    bottom: 80px;

    .row.call {
        .hotline-phone-ring-wrap {
            transform: translateY(-15%);

            .hotline-phone-ring {
                position: relative;
                visibility: visible;
                background-color: transparent;
                width: 110px;
                height: 110px;
                cursor: pointer;
                z-index: 11;
                -webkit-backface-visibility: hidden;
                -webkit-transform: translateZ(0);
                transition: visibility .5s;
                right: 0;
                bottom: 0;
                display: block;

                .hotline-phone-ring-circle {
                    width: 85px;
                    height: 85px;
                    top: 10px;
                    right: 10px;
                    position: absolute;
                    background-color: transparent;
                    border-radius: 100%;
                    border: 2px solid #e60808;
                    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
                    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
                    transition: all .5s;
                    -webkit-transform-origin: 50% 50%;
                    -ms-transform-origin: 50% 50%;
                    transform-origin: 50% 50%;
                    opacity: 0.5;
                }
                .hotline-phone-ring-circle-fill {
                    width: 55px;
                    height: 55px;
                    top: 25px;
                    right: 25px;
                    position: absolute;
                    background-color: rgba(230, 8, 8, 0.7);
                    border-radius: 100%;
                    border: 2px solid transparent;
                    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
                    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
                    transition: all .5s;
                    -webkit-transform-origin: 50% 50%;
                    -ms-transform-origin: 50% 50%;
                    transform-origin: 50% 50%;
                }
                .hotline-phone-ring-img-circle {
                    background-color: #e60808;
                    width: 33px;
                    height: 33px;
                    top: 37px;
                    right: 37px;
                    position: absolute;
                    background-size: 20px;
                    border-radius: 100%;
                    border: 2px solid transparent;
                    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
                    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
                    -webkit-transform-origin: 50% 50%;
                    -ms-transform-origin: 50% 50%;
                    transform-origin: 50% 50%;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .pps-btn-img {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                    }
                }
            }
        }

        @keyframes phonering-alo-circle-anim {
            0% {
              -webkit-transform: rotate(0) scale(0.5) skew(1deg);
              -webkit-opacity: 0.1;
            }
            30% {
              -webkit-transform: rotate(0) scale(0.7) skew(1deg);
              -webkit-opacity: 0.5;
            }
            100% {
              -webkit-transform: rotate(0) scale(1) skew(1deg);
              -webkit-opacity: 0.1;
            }
        }

        @keyframes phonering-alo-circle-fill-anim {
            0% {
              -webkit-transform: rotate(0) scale(0.7) skew(1deg);
              opacity: 0.6;
            }
            50% {
              -webkit-transform: rotate(0) scale(1) skew(1deg);
              opacity: 0.6;
            }
            100% {
              -webkit-transform: rotate(0) scale(0.7) skew(1deg);
              opacity: 0.6;
            }
        }

        @keyframes phonering-alo-circle-img-anim {
            0% {
              -webkit-transform: rotate(0) scale(1) skew(1deg);
            }
            10% {
              -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            }
            20% {
              -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            }
            30% {
              -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            }
            40% {
              -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            }
            50% {
              -webkit-transform: rotate(0) scale(1) skew(1deg);
            }
            100% {
              -webkit-transform: rotate(0) scale(1) skew(1deg);
            }
        }
    }

    .row.zalo {
        @keyframes zoom {
            0% {transform:scale(.5); opacity:0}
            50% {opacity:1}
            to{opacity:0;transform:scale(1)}
        };

        @keyframes zalo {
            0% to{transform:rotate(-25deg)}
            50%{transform:rotate(25deg)}
        };

        .jscroll-to-top{
            bottom:100px;
        };
        .fcta-zalo-ben-trong-nut svg path{
            fill:#fff;
        };
        .fcta-zalo-vi-tri-nut{
            position:fixed;
            bottom:80px;
            right:25px;
            z-index:999;
        };
        .fcta-zalo-nen-nut,
        div.fcta-zalo-mess {
            box-shadow:0 1px 6px rgba(0,0,0,.06),0 2px 32px rgba(0,0,0,.16)
        ;}
        .fcta-zalo-nen-nut {
            width:50px;
            height:50px;
            text-align:center;
            color:#fff;
            background:#0068ff;
            border-radius:50%;
            position:relative;
        };
        .fcta-zalo-nen-nut::after,
        .fcta-zalo-nen-nut::before {
            content:"";
            position:absolute;
            border:1px solid #0068ff;
            background:#0068ff80;
            z-index:-1;
            left:-20px;
            right:-20px;
            top:-20px;
            bottom:-20px;
            border-radius:50%;
            animation:zoom 1.9s linear infinite;
        };
        .fcta-zalo-nen-nut::after {
            animation-delay: .4s;
        }
        .fcta-zalo-ben-trong-nut,
        .fcta-zalo-ben-trong-nut i {
            transition:all 1s;
        };
        .fcta-zalo-ben-trong-nut {
            position:absolute;
            text-align:center;
            width:60%;
            height:60%;
            left:10px;
            bottom:25px;
            line-height:70px;
            font-size:25px;
            opacity:1;
        };
        .fcta-zalo-ben-trong-nut i {
            animation: zalo 1s linear infinite;
        }
        .fcta-zalo-nen-nut:hover .fcta-zalo-ben-trong-nut,
        .fcta-zalo-text {
            opacity:0;
        };
        .fcta-zalo-nen-nut:hover i{
            transform:scale(.5);
            transition:all .5s ease-in;
        };
        .fcta-zalo-text a{
            text-decoration:none;
            color:#fff;
        };
        .fcta-zalo-text{
            position:absolute;
            top:6px;
            text-transform:uppercase;
            font-size:12px;
            font-weight:700;
            transform:scaleX(-1);
            transition:all .5s;
            line-height:1.5;
        };
        .fcta-zalo-nen-nut:hover .fcta-zalo-text{
            transform:scaleX(1);
            opacity:1;
        };
        div.fcta-zalo-mess{
            position:fixed;
            bottom:80px;
            right:58px;
            z-index:99;
            background:#fff;
            padding:7px 25px 7px 15px;
            color:#0068ff;
            border-radius:50px 0 0 50px;
            font-weight:700;
            font-size:15px;
        };
        .fcta-zalo-mess span{
            color:#0068ff!important;
        };
        span#fcta-zalo-tracking{
            font-family:Roboto;
            line-height:1.5;
        };
        .fcta-zalo-text{
            font-family:Roboto;
        } 
    }
}

nav.navbar {
    a.nav-link {
        position: relative;
        &::after {
            transition: all 0.2s linear;
            position: absolute;
            content: '';
            border-bottom: 5px solid white;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            height: 0;
            width: 40px;
            left: 50%;
            bottom: 0px;
            transform: translate(-50%, 50%) ;
            opacity: 0;
        }
        &:hover::after {
            opacity: 1;
        }
    }

    @media screen and (max-width: 768px) {
        li.nav-item {
            border-bottom: 1px solid rgba(33, 37, 41, 0.5);
            a.nav-link { 
                color: #212529 !important;
                &::after {
                    opacity: 0;
                    visibility: hidden;
                }
            }
            .dropdown-menu {
                border: none;
            }
        }
    }
}

footer {
    .col-md-4 {
        .col-content {
            background-color: #373a3d !important;
            border-top: 15px solid #5780C1;

            .content {
                a {
                    color: #9695ac !important;
                    &:hover {
                        color: white !important;
                    }
                }
            }

            a.company-name {
                font-size: 0.875rem;
                color: #9695ac;
                transition: all 0.2s linear;
                &:hover {
                font-weight: bold;
                color: white;
                }
            }

            p.lead {
                font-size: 1.2rem;
            }
        }
    }
    .iFrame {
        iframe {
            margin: auto;
        }
    }

    .copyright {
        .row {
            background-color: #5780C1;
            color: #cdd2d8;
            font-size: 0.9rem;
        }
    }
}

section.cards {
    .card {
        background-color: #EFF0F2;
        border-radius: 30px 0 0;
        transition: all 0.2s linear;
        overflow: hidden;
        &:hover {
            border-radius: 0;
        }
        img {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 30px 0;
            transition: all 0.2s linear;
            &:hover {
                border-radius: 0 0 20px 0;
                transform: scale(1.05);
                cursor: pointer;
            }
        }
        .card-body {
            h5 {
                &:hover {
                    color: $primary;
                    cursor: pointer;
                }
            };
            p {
                font-size: 0.8rem;
                letter-spacing: 1px;
            };
            button {
                transition: all 0.2s linear;
                &:hover {
                    background-color: white;
                    border: 1px solid $primary;
                    a {
                        color: $primary !important;
                    }
                }
            }
        }
    }
}

section.caption {
    blockquote {
        letter-spacing: 7px;
    }
}

section.garage {
    img {
        transition: all 0.3s linear;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

section.insurance {
    .container-lg {
        background-image: url(./background/background-4.jpg);
        background-color: rgba(33, 37, 41, 0.75);
        background-blend-mode:overlay;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: all 0.2s linear;

        button {
            &:hover {
                background-color: $primary;
                a {
                    color: white !important;
                }
            }
        }
    }
}

section.background {
    .backgroundInsert {
        height: 100px;
        background-color: $dark;
    }
    .container-fluid {
        height: 40vh;
        background: url('../assets/background/background-1.jpg') no-repeat center center / cover;
        h1 {
            color: white;
            border: 1px solid $primary;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 20px 40px;
        }
    }
}

section.addressInfo {
    .card-body {
        background-color: #373a3d;

        li {
            transition: all 0.2s linear;
            
            i { 
                height: 100%;
                aspect-ratio: 1 / 1;
                background-color: #3E414B;
                transition: all 0.2s linear;
            }
            
            &:hover {
                background-color: $primary;
    
                i {
                    background-color: $primary;
                }
            }
        }

    }
}